    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    div{
        margin: center;
        justify-items: center;
    }
    main{
        padding: 10px;
        border: dotted firebrick;;
    }
    form{
        padding: 30px;
        ;
    }