    html,
    body{
        height: 100%;
    }
    header {
        background: greenyellow;
    }
    header img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: 30%;
    }
    header h1{
        text-align: center;
    }
    header a{
        display: flexbox;
        text-decoration: none;
        justify-items: center;
    }
    main{
        background: burlywood;
        padding: 10px;
        border: dotted firebrick;;
    }
    form{
        padding: 30px;
        ;
    }